@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*************/
/* CSS RESET */
/*************/

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#myBtn{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #ff3b5f;
    color: white;
    cursor: pointer;
    padding: 1rem 1.1rem;
    border-radius: 50%;
}
#myBtn:hover{
    background-color: black;
    color: white;
    transition: 1s all;
}
/******************/
/* NAVIGATION BAR */
/******************/

#default-navbar{
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    padding: 20px 40px;
}
#default-navbar img{
    width: 120px;
}
#default-navbar .icon-toggle-wrapper #page-list{
    top: 0;
    left: 0;
}
#default-navbar .icon-toggle-wrapper #page-list li{
    list-style-type: none;
}
#default-navbar .icon-toggle-wrapper #page-list li a{
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}
#default-navbar .icon-toggle-wrapper #page-list li a:hover, #default-navbar .icon-toggle-wrapper #page-list li a i:hover{
    color: #ff3b5f;
}
#default-navbar .icon-toggle-wrapper #page-list li a i{
    font-size: 20px;
}
#default-navbar .icon-toggle-wrapper .menu-toggle{
    display: none;
}
#sideNav{
    display: none;
}

/**************/
/* CONTACT US */
/**************/

#contact-us{
    padding: 70px 10px;
}
#contact-us h1{
    font-size: 35px;
}
#contact-us form{
    width: 35%;
    margin: auto;
}
#contact-us form input, #contact-us form textarea{
    outline: 0;
    border: none;
    padding: 15px 5px;
    border-bottom: 1px solid white;
    margin-top: 30px;
    caret-color: white;
    color: white;
}
#contact-us form input::placeholder, #contact-us form textarea::placeholder{
    color: white;
}
#contact-us form input::selection, #contact-us form textarea::selection{
    color: black;
    background-color: white;
}
#contact-us button{
    width: 50%;
    margin: 40px auto;
    padding: 25px 0px;
    background-color: white;
    color: black;
    border: none;
    font-size: 15px;
    font-weight: bold;
}
#contact-us button:hover{
    cursor: pointer;
}

/************/
/* BRANCHES */
/************/

#branches{
    overflow: hidden;
    background-color: #000;
}
#branches .bg1{
    background: url(../Resources/bg1.jpg) no-repeat center center/cover;
}
#branches .bg2{
    background: url(../Resources/bg2.jpg) no-repeat center center/cover;
}
#branches .bg3{
    background: url(../Resources/bg3.jpg) no-repeat center center/cover;
}
#branches .bg4{
    background: url(../Resources/bg4.jpg) no-repeat center center/cover;
}
#branches .franchise-box{
    width: 25%;
    height: 15rem;
    margin: 0px auto;
    padding: 40px 5px 10px 5px;
}
#branches .franchise-box h1{
    font-size: 30px;
    margin-bottom: 10px;
}
#branches .franchise-box p{
    font-size: 14px;
    font-weight: 100;
    line-height: 25px;
    text-align: center;
    color: rgb(233, 233, 233);
}
#branches .franchise-box p.address{
    margin-top: 10px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
}
#branches .franchise-box button{
    width: 40%;
    padding: 10px 0px;
    margin: 20px auto;
    border: 0.5px solid white;
    background-color: transparent;
    color: white;
}
#branches .franchise-box button:hover{
    cursor: pointer;
    border: 0.5px solid black;
    background-color: white;
    color: black;
}

/**********/
/* FOOTER */
/**********/

footer{
    padding: 50px 25px;
}
footer .footer-contains{
    width: 40%;
    margin: 0px auto;
    text-align: center;
}
footer .footer-contains p{
    margin: 25px 0px;
    font-size: 14px;
}
footer .footer-contains form{
    margin: 50px 0px;
}
footer .footer-contains form input{
    width: 90%;
    padding: 10px 15px;
    border: 0.5px solid rgb(228, 228, 228);
    outline: 0;
    background-color: transparent;
    caret-color: rgb(194, 194, 194);
    color: grey;
    font-size: 12px;
}
footer .footer-contains form input::placeholder{
    color: rgb(95, 95, 95);
    font-family: 'Open Sans', sans-serif;
}
footer .footer-contains form button{
    background-color: #ff3b5f;
    border: none;
    color: white;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 15px 20px;
    letter-spacing: 1px;
}
footer .footer-contains form button:hover{
    cursor: pointer;
    color: #000;
}
footer .footer-contains #quick-links{
    top: 0;
    left: 0;
    margin: 30px 0px;
}
footer .footer-contains #quick-links li{
    list-style: none;
}
footer .footer-contains #quick-links li a{
    color: rgb(95, 95, 95);
    text-decoration: none;
    font-size: 14px;
    padding: 0px 25px;
}
footer .footer-contains #quick-links li a:hover{
    color: #000;
}
#copyright{
    padding: 0px 25px;
    background-color: #fbfbfb;
    padding: 10px;
}
#copyright p{
    color: rgb(95, 95, 95);
    font-size: 12px;
    text-align: center;
    margin: 0px 15px;
}